openapi: 3.0.3
info:
  title: Adam Ghafara - Dokumen API
  description: >-
    API Swagger Web Adam
  contact:
    email: adam.ghafara.job@gmail.com
  license:
    name: Peda Package
    url: https://pkg.go.dev/github.com/adam-ghafara/peta-backend
  version: v1.0.0
externalDocs:
  description: Repo GCF
  url: https://github.com/adam-ghafara/gcf
servers:
  - url: https://asia-southeast2-gis-tester-401506.cloudfunctions.net/
  - url: https://northamerica-northeast1-gis-tester-401506.cloudfunctions.net/
  - url: https://us-central1-gis-tester-401506.cloudfunctions.net/
tags:
  - name: data
    description: Data Geo Spasial
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/adam-ghafara/gcf/
  - name: auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/adam-ghafara/gcf/
  - name: latInput
    description: Input Latitude
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/adam-ghafara/gcf/
  - name: longInput
    description: Input Longitude
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/adam-ghafara/gcf/
  - name: Lineput
    description: Input Highlight Line
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/adam-ghafara/gcf/
paths:
  /let-load:
    get:
      tags:
        - data
      summary: Get Data Geospasial
      description: List Data Geospasial
      operationId: getGeoJSON
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Peta'
        '400':
          description: Invalid status value
  /signIn:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    Peta:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string
    Auth:
      type: object
      properties:
        username:
          type: string
          example: petped
        password:
          type: string
          example: secret
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
      
